.main-layout{
  height: 100%;
  width: 100%;

}
.slide-enter {
  transition: all .2s ease-out;
}
.slide-enter-active {
  transform: translateX(0);
}
.slide-exit {
  transition: all .2s ease-out;
}
.slide-exit-active {
  transform: translateX(200);
}
